$Roboto: "Roboto", sans-serif;
$OpenSans: "OpenSans", sans-serif;
$primary_font_color: #a8a8a8;
$secondary_font_color: #ffffff;
$head_color: #504f50;
$logo_color: #39c9da;
$primary_btn_color: #39c9da;

